/* STYLE THE BODY */
body{
    background: rgb(56,156,215);
    background: linear-gradient(90deg, rgba(56,156,215,1) 0%, rgba(34,32,84,1) 100%);
    font-family: 'Audiowide', cursive;
}
main{
    display: flex;
    justify-content: space-evenly;
}

/* STYLE THE BANNER */

#banner {
    margin-top: 5%;
    text-align: left;
}

#banner h1:first-child{
    font-family: 'Press Start 2P', cursive;
    font-size: 5em;
    line-height: 150%;
    margin: 0;
    color: white;
}
#banner h1{
    font-size: 3em;
    color: rgb(34,32,84);
}
/* STYLE THE BUTTON */
button{
    border-radius: 10px;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    gap: 10px;
}

#buttons{
    display: flex;
    gap: 10%;
}

/* STYLE THE JUDGES */
.judges{
    margin-top: 15%;
    color: white;
}

.judges img:hover{
    transform:scale(1.1);
}

/* STYLE THE WAVE ANIMATION */
.line-1{
    z-index: 15;
    opacity: 0.5;
}
.line-2{
    z-index: 10;
    opacity: 0.7;
}
.line-3{
    z-index: 0;
}
.wave{
    position: absolute;
    left: 0;
    width: 200%;
    height: 20%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.wave1{
    -webkit-background-size: 50% 80px;
    background-size: 50% 170px;
}
.wave2{
    -webkit-background-size: 50% 100px;
    background-size: 50% 190px;
    animation: animate 12s linear infinite;
}
.wave3{
    -webkit-background-size: 50% 80px;
    background-size: 50% 150px;
    animation: animate 18s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50%{
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }
    0%{
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

/* STYLE THE FORM*/

#formcss{
    margin-top: 5%;
    color: rgb(34,32,84);
}

#formcss span{
    color: #389cd7;
}

#formcss form{
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    /* font-size: 1.2em; */
    line-height: 3em;
    position: relative;
    z-index: 0;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #0B4ACB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #0C3382;
  }
    /* STYLE THE FOOTER */